* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 20, 20);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-weight: 500;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

nav ul li a:hover {
  color: bisque;
  border-bottom: 1px solid white;
}

nav div img {
  width: 50px;
}

.content {
  padding: 10px;
  padding: 20px;
  height: 100vh;
  color: rgb(124, 124, 124);
}

.one {
  background-image:url(/assets/img/carousel/cr_1.jpg);
  background-size: cover;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.one button {
  padding: 10px;
  font-size: 1.5rem;
  background-color: rgb(29, 27, 27);
  border: 1px solid rgb(46, 44, 44);
  border-radius: 5px;
}
.one button a {
  list-style: none;
  color: rgb(109, 187, 139);
  text-decoration: none;
}

.one button a:hover {
  color: rgb(3, 175, 46);
}

.two {
  color: white;
  background-image: url(/assets/img/carousel/cr_2.jpg);
  background-size: cover;
  padding-top: 100px;
}

.server-info {
  border: 1px solid rgb(39, 36, 36);
  padding: 15px;
  width: fit-content;
  background-color: rgb(37, 34, 34);
  border-radius: 7px;
}

.offline {
  color: red;
}

.online {
  color: green;
}

.three {
  color: white;
  padding-top: 100px;
  background-image: url(/assets/img/carousel/cr_3.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.three p {
  padding: 10px;
}

.three a img {
  width: 40px;
}

.three a {
  background-color: rgb(19, 17, 17);
  padding: 10px 30px;
  text-decoration: none;
  color: rgb(155, 154, 154);
  border: 1px solid rgb(34, 33, 33);
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.three a:hover {
  color: white;
}

.four {
  color: rgb(255, 255, 255);
  background-image: url(/assets/img/carousel/cr_4.jpg);
  background-size: cover;
  padding-top: 100px;
  
}

.four div {
  background-color: rgba(128, 128, 128, 0.363);
  padding: 10px;
  border-radius: 8px;
}

.four p {
  padding-left: 20px;
  text-indent: 40px;
  margin: 12px 0px;
}

footer {
  color: rgb(104, 104, 104);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.menu-icon {
  font-size: 28px;
  display: none;
}

@media only screen and (max-width: 650px) {
  .menu-icon {
    display: flex;
  }

  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
  }

  nav ul li:last-of-type {
    padding-bottom: 8px;
  }

  nav ul.hidden {
    display: none;
  }

  .three {
    padding-bottom: 10vh;
  }
}

@media only screen and (max-width: 680px) {
  .four {
    height: fit-content;
  }
}